.posts-nav {
  float: left;
  width: 20vw;
  height: 100vh;
  display: inline-block;
}

.content {
  width: 70vw;
  display: inline-block;
  text-align: center;
  margin-left: 0 auto;
  clear: right;
  box-sizing: border-box;

  .newProfile {
    width: 15vw;
    margin: 0 auto;

    input {
      width: 100%;
      margin: .5vw 0;
      display: block;
      box-sizing: border-box;
    }

    .submit {
      margin: 0;
      padding: 0;
      width: 100%;
      border: none;
    }


  }

  .newPost {
    text-align: left;
    box-sizing: border-box;

    input {
      display: block;
      margin: 2vw auto;
      width: 20vw;
    }

    textarea {
      width: 100%;
      height: 50vh;
    }
  }
}
